<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}
{% load static %}



<body>

{% block content %}
<main class="main">
    <div class="about_page">
    <h1>kjhfkjdfkjladha</h1>
    </div>
</main>
    <div class="foot">
        <div class="foot_wrapper">
            <div class="contact_information">
                <p>
                    E-mail: detskiisadromashka@gmail.com
                    +996550897066
                    +996500456787
                    +996700987789
                </p>
            </div>
            <div class="address">
                Minzhilkiev street
                12/9
            </div>
        </div>
    </div>

{% endblock content %}
</body>

</html>